<!-- Footer -->
<footer class="page-footer font-small bg-dark text-white blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Address</h5>
        <br />
        <p>
          Residence Hall 6, <br />
          Ashoka University, <br />
          Rajiv Gandhi Education City,<br />
          Sonipat, Haryana 131029
        </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Contact Owners</h5>

        <ul class="list-unstyled">
          <br />
          <li>
            <a href="mailto:karan.lobana_ug22@ashoka.edu.in">Karan Lobana</a>
          </li>
          <li>
            <a href="mailto:nitya.poddar_ug22@ashoka.edu.in">Nitya Poddar</a>
          </li>
          <li>
            <a href="mailto:manish.rajani_ug22@ashoka.edu.in">Manish Rajani</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Find us:</h5>

        <ul class="list-unstyled">
          <br />
          <li>
            <a href="https://www.facebook.com/" target="_blank">Facebook</a>
          </li>
          <li>
            <a href="https://www.instagram.com/instagram/?hl=en" target="_blank"
              >Instagram</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/cs-society-ashoka-universtiy/"
              target="_blank"
              >LinkedIn</a
            >
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright: The MKN Shopping Company
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
