<%- include('partials/navbar'); %>
<div class="container">
  <h1 class="mt-5">Contact Us</h1>
  <p class="lead mt-3">Welcome, <%= user.name %>!</p>
  <h2>Boost is the secret of our energy!</h2>
</div>
