<%- include('partials/navbar'); %>
<div class="container">
  <h1 class="mt-5">Contact Us</h1>
  <p class="lead mt-3">Welcome, <%= user.name %>!</p>
  <div class="row">
    <div class="col-md-6 mt-md-0 mt-3">
      <!-- Content -->
      <h5 class="text-uppercase">Our address</h5>
      <br />
      <p>
        Residence Hall 6, <br />
        Ashoka University, <br />
        Rajiv Gandhi Education City,<br />
        Sonipat, Haryana 131029
      </p>
    </div>
    <div class="col-md-6 mt-md-0 mt-3">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3491.411001123029!2d77.10018141483924!3d28.945531682295357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390dae77eed4d41f%3A0x78a0bc68e5af467!2sAshoka%20University!5e0!3m2!1sen!2sin!4v1603287877301!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>
