<h1>Dashboard</h1>
<%- include('partials/messages'); %>
<p class="lead mt-3">Welcome <%= name %>.</p> Do you want to <a href="users/edit_profile">edit your profile?</a><br>
<button type="button" class="btn btn-danger"><a href='users/logout' class="btn-danger">Logout</a></button>
