<div>
<div class="row mt-3 justify-content-center">
  <h1>The MKN Shopping Company</h1>
</div>
<div class="row mt-5 justify-content-center">
  <a href="users/sign_up"
    ><button type="button" class="btn btn-warning">Sign Up</button></a
  >
  <a href="users/login"
    ><button type="button" class="btn btn-info">Login</button></a
  >
</div>
</div>