html, body{
    height:100%;
}
.nav-item{
    font-size: 150%;
    padding-top: 2%;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}
.dropdown-item{
    font-size: 130%;
}
h1,h2,h3{
    font-family: 'Bebas Neue', cursive;
}
th{
    font-family: 'Bebas Neue', cursive;
    font-size: 120%;
    letter-spacing: 1px;
}
.card-body{
    font-family: 'Raleway', sans-serif;
}
footer,tr{
    font-family: 'Raleway', sans-serif!important;
}
a, a:visited, a:hover, a:active {
    color: inherit;
}
form{
    font-family: 'Poppins', sans-serif;
}